# IDE
backend/.settings/
backend/.project
.vscode/
backend/.classpath
backend/.idea/

# Backend (Spring Boot)
backend/bin/
backend/target/
backend/data/*.mv.db
backend/data/*.trace.db
*.log
.env
application-local.yml

# Frontend (React)
frontend/node_modules/
frontend/dist/
frontend/build/

# ML Microservice (Python)
ml-microservice/venv/
ml-microservice/__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
